{% extends 'core/base.html' %}

{% load static %}

{% block contenidoprincipal %}

<section class="container">
    <div class="row">
      {% csrf_token %}
        <div class="subtitle-section col s12 m8 offset-m2">
            <h3 class="grey-title">Registro de Listas</h3>
        </div>

        <form  method="post" id="formulario1" class="contacto-form col s12 m8 offset-m2" action="" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="input-field col s12">
          <input name="txtNombre" id="txtNombre" type="text" class="validate" maxlength="50">
          <label for="txtNombre">Nombre</label>
        </div> 
         
        <div class="input-field col s12">
            <textarea id="txtCantProd" type="number" name="txtCantProd" class="validate" maxlength="3"></textarea>
            <label for="txtCantProd">Cantidad de Productos</label>
        </div>

        <div class="input-field col s12">
            <textarea id="txtTotalPres" type="number" name="txtTotalPres" class="validate" maxlength="7"></textarea>
            <label for="txtTotalPres">Total Presupuestado</label>
        </div>

        <div class="input-field col s12">
            <textarea id="txtTotalReal" type="number" name="txtTotalReal" class="validate" maxlength="7"></textarea>
            <label for="txtTotalReal">Total Real</label>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="btnGuardarM" id="btnGuardarM">Guardar
            <i class="material-icons right">send</i>
        </button>

        <h3>{{ mensaje }}</h3>

    </form>

    </div>
</section>

{% endblock contenidoprincipal %}



{% block contenido %}

<br>


<h2>Listas</h2>
<br>  
<div class="table-responsive">

    <table class="table table-dark table-bordered table-hover table-condensed">

        <thead>

            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Cantidad de Productos</th>
                <th class="text-center">Total Presupuestado</th>
                <th class="text-center">Total Real</th>
            </tr>

        </thead>

        <tbody>

            {% for l in listas %}
            <tr>
                <td class="text-center">{{ l.nombre }}</td>
                <td class="text-center">{{ l.cant_productos }}</td>
                <td class="text-center">{{ l.total_presupuestado }}</td>
                <td class="text-center">{{ l.total_real }}</td>


                {% if l.estadoLista.id == 1 %}
                    <td class="text-center">
                        <a href="" class="btn btn-danger">{{ l.estadoLista.nombre }}</a>
                    </td>
                {% else %}  
                    <td class="text-center">
                        <a href="" class="btn btn-success">{{ l.estadoLista.nombre }}</a>
                    </td>
                {% endif %}


                <td class="text-center">
                    <a class="btn btn-primary mr-2" href="{% url 'form_producto' l.id %}">Agregar Producto</a>
                    <a class="btn btn-primary mr-2" href="{% url 'listar_productos' l.id %}" >Administrar Productos</a>
                    <a class="btn btn-primary" href="{% url 'eliminar_lista' l.id %}">Eliminar Lista</a>
                 
                </td>
            </tr>


            {% endfor %}

        </tbody>



    </table>



</div>

{% endblock contenido %} 