{% extends 'core/base.html' %}

{% load static %}

{% block contenidoprincipal %}

<section class="container">
    <div class="row">
      {% csrf_token %}
        <div class="subtitle-section col s12 m8 offset-m2">
            <h3 class="grey-title">Registro de Listas</h3>
        </div>

        <form  method="post" id="formulario1" class="contacto-form col s12 m8 offset-m2" action="" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="input-field col s12">
          <input name="txtNombre" id="txtNombre" type="text" class="validate" maxlength="50">
          <label for="txtNombre">Nombre</label>
        </div> 
         
        <div class="input-field col s12">
            <textarea id="txtCantProd" type="number" name="txtCantProd" class="validate" maxlength="3"></textarea>
            <label for="txtCantProd">Cantidad de Productos</label>
        </div>

        <div class="input-field col s12">
            <textarea id="txtTotalPres" type="number" name="txtTotalPres" class="validate" maxlength="7"></textarea>
            <label for="txtTotalPres">Total Presupuestado</label>
        </div>

        <div class="input-field col s12">
            <textarea id="txtTotalReal" type="number" name="txtTotalReal" class="validate" maxlength="7"></textarea>
            <label for="txtTotalReal">Total Real</label>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="btnGuardarM" id="btnGuardarM">Guardar
            <i class="material-icons right">send</i>
        </button>

        <h3>{{ mensaje }}</h3>

    </form>

    </div>
</section>

{% endblock contenidoprincipal %}



{% block contenido %}

contenido de listas

{% endblock contenido %} 